* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagePrincipal img {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

